/* .Container{
    display: flex;
    justify-content: space-between;
}

.card-div{
    display: block;
    float: left;
    display: flex;
    width: 300px;
    height: 100px;
    margin-left: 100px;
}
.post-pic{
    height: 300px !important;
}
.post-card{
position: absolute;
margin-top: 10vh;
}  */



.Container{
    display: flex;
    justify-content:stretch;
    flex-direction: row ;

}

.card{
    width: 17%;
    height: 400px;
    background-color: aliceblue;
    margin: 10px;
}

/* .img-div{
    align-items:start;
}

.text-div{
    align-items: end;
} */

.card-pic{
    height: 49%;
    width: 99%;
    padding: 1px;
}

